<a href="https://colab.research.google.com/github/jonrtaylor/FL_covid_data_notebooks/blob/master/FL_cases_by_county_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
###   CLICK "Open in Colab" to get started ###

###   CLICK 'Runtime' ABOVE AND THEN CLICK 'Run all'

###   YOU WILL SEE A DATA TABLE BETWEEN THE TOP CELL AND THE BOTTOM CELL SHOWING YOU THE DATA IN THIS NOTEBOOK

###   THE LAST CELL CREATES A CSV FILE WHICH WILL DOWNLOAD TO YOUR PC

###   PLEASE SHARE THIS RESOURCE IF YOU FIND IT HELPFUL


import numpy as np
import pandas as pd
import requests
import json

url = "https://services1.arcgis.com/CY1LXxl9zlJeBuRZ/ArcGIS/rest/services/Florida_COVID19_Cases_by_County_vw/FeatureServer/0/query?where=ObjectId>0&objectIds=&time=&resultType=standard&outFields=*&returnIdsOnly=false&returnUniqueIdsOnly=false&returnCountOnly=false&returnDistinctValues=false&cacheHint=false&orderByFields=&groupByFieldsForStatistics=&outStatistics=&having=&resultOffset=&resultRecordCount=&sqlFormat=none&f=pjson&token="
JSONContent = requests.get(url).json()
df = pd.DataFrame([row['attributes'] for row in JSONContent['features']])
df

In [19]:
### Example to show how to filter for a certain County

df[df['COUNTYNAME'] == "BROWARD"]

    OBJECTID  OBJECTID_12_13  DEPCODE  ... MonNow   Shape__Area  Shape__Length
61        62              62        6  ...  13972  3.142374e+09  291881.846057

[1 rows x 87 columns]

In [ ]:
df.to_csv('FL_cases_by_county.csv', index=False)
from google.colab import files
files.download('FL_cases_by_county.csv')